Menu {
  /* overflow: auto;
  align-items: center; 
  padding-top: 0px;
  margin-top: 0px; */
  background-color: rgb(197, 208, 231);
  min-height: 100vh;
}

.Home {
  position: absolute;
  width: auto;
  text-align: center;
}

.Menu .Home img {
  padding-top: 0px;
  width: 190vh;
  height: 90vh;
}

/* .Home button {
  font-size: 2rem;
  color: white;
  border-radius: 5px;
  text-decoration: none;
} */
/* 
.Menu .Home .btn-1 {
  text-decoration: none;
  font-size: 1rem;
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(7, 48, 66);
  color: white;
  width: 30%;
  padding: 7px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} */

.Home .btn-1:hover {
  background-color: rgba(94, 157, 161, 0.938);
}

/* .Menu .Home .btn-2 {
  text-decoration: none;
  font-size: 1rem;
  position: absolute;
  top: 18%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(7, 48, 66);
  color: white;
  width: 30%;
  padding: 7px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} */

.Home .btn-2:hover {
  background-color: rgba(94, 157, 161, 0.938);
}
.bgImage{
  width: 90vw;
  height: 80vh;
}
.pageFile{
  overflow-y: hidden;
  max-height: 100vh;
}

.buttons{
  display: flex;
  flex-direction: column;
}
.pTag{
  margin-top: -0.7rem;
}
