.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
  margin-bottom: 3rem;
}

.search {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 243, 247);
  width: 50%;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #b6c1cf;
  box-shadow: 10px 10px 9px -9px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
.search :focus{
  outline: none;
  border: none;
}
