.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  margin-top: 0px;
  background-color: rgb(255, 230, 205);
  position: relative;
}

.Home-content {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.Home-content img {
  height: 60%;
  width: 30%;
  padding-left: 80px;
  /*transform: translateY(150px);*/
}

.Lines {
  font-family: "Acme", sans-serif;
  width: 50%;
  padding-left: 20px;
  /* transform: translateY(100px); */
}
.Lines p {
  font-size: 1rem;
}
.Lines h1 {
  font-size: 2rem;
  color: rgba(3, 3, 41, 0.938);
}
.Lines h2 {
  font-size: 1rem;
  color: rgba(10, 5, 6, 0.938);
}
.Lines button {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  font-weight: 200;
  background: transparent;
  transition: 0.5s;
  transform: translateY(30px);
  padding: 10px;
  letter-spacing: 2px;
}
.Lines button:hover {
  border: 1px solid rgb(28, 11, 88);
  color: white;
  background-color: rgba(3, 3, 41, 0.938);
  cursor: pointer;
}
.Doc {
  height: 30vh;
  width: 60vw;
  padding: 30px;
  text-align: center;
  transform: translateX(270px);
}

/*@media (max-width: 500px) {
  .Menu {
    padding-top: 20px;
    background-color: rgb(245, 246, 247);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .Home-content {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Home-content img {
    height: 300px;
    width: 320px;
    transform: translateY(200px) translateX(40px);
  }

  .Lines {
    font-family: "Acme", sans-serif;

    width: 90%;
    transform: translateX(-90px);
  }
  .Lines p {
    font-size: 20px;
  }
  .Lines h1 {
    font-size: 35px;
    color: rgba(2, 9, 49, 0.938);
  }
  .Lines button {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    font-weight: 200;
    background: transparent;
    transition: 1s;
    padding: 7px;
  }
  .Con button:hover {
    border: 1px solid brown;
    color: brown;
  }
  .Doc {
    transform: translateX(-30px);
    text-align: center;
    width: 350px;
    height: 30vh;
  }
  .Page {
    background-color: rgb(245, 246, 247);
    width: 100%;
    height: 100%;
  }
  .Docc {
    height: 35vh;
    width: 100%;
    font-size: 12px;
  }
}
*/
