.mainPatientCardContainer {
  display: flex;
  background-color: #b6c2ce;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -9px rgba(0, 0, 0, 0.3);

  height: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 700px;
}
/* .mainPatientCardContainer img{
  height: 100px;
  width: 100px;
} */

.imgContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.PatientCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
  margin-left: 15px;
  width: 70%;
}
.PatientCard button {
  margin-top: 1.2rem;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 5px;
}
.request {
  margin-bottom: 20px;
  font-weight: 800;
}
.Patientname {
  text-transform: capitalize;
}
.PatientDisease {
  text-transform: capitalize;
}
.PatientCard span {
  margin-left: 10px;
}
.PatientCard button:hover {
  background-color: rgb(4, 97, 4);
}
.acceptButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
