.Navbar {
  background-color: rgba(3, 3, 41, 0.938);
  width: 100%;
  padding: 30px;
  font-family: "Acme", sans-serif;
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  /* position: absolute; */
}

.navItems {
  display: flex;
  color: white;
  font-size: 5rem;
  font-weight: 200;
  text-decoration: none;
  background: transparent;
  transition: 0.5s;
  padding: 20px;
  margin: 15px;
}
